body {

 font-family: 'Reggae One', cursive;
 margin: 0px;
 padding: 0px;

}
.half-width {
    float: left;
    width: 40%;
    margin: 3%;
    padding: 2%;

}

.half-width img {

    width: 100%;
}

.highlight {
    color: tomato;
}

.Button-highlight {
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 2px 7px 2px 7px;
}

.header-area {
    background-image: url(images/header-bg.png);
    height: 700px;
    
}

section {

    background: no-repeat;
    background-position: center;
}

.text-highlight {

    color: gray;
}

.biography-area {
    background-image: url(images/biography-bg.png);
    height: 800px;
}

.biography-text {
    margin-top: 150px;
}

.work-images {

    float: left;
    width: 25%;
    height: auto;
    text-align: center;
    margin: 2%; 
    padding: 2%;
    border: 1px solid gray;
    box-shadow: 5px 10px gray;
    border-radius: 20px;
}

.work-images img {

    width: 100%;
}

.work-area {
    background-image: url(images/latest-work-bg.png);
    height: 600px;
    margin-top: 100px;
    text-align: center;
    
}

.client-area {
   
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

.client-images {
    background-image: url(images/footer-bg.png);
    height: auto;
}

#email-highlight{

    background-color: tomato;
    color: white;
    width: 50%;
    text-align: center;
    margin-top: 5%;
    margin-left: 25%;
    padding: 1%;
     
}

footer {

    text-align: center;
    margin-top: 10%;
    
}
